html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h3[id="subtopic"] {
    color: gray;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

[alt~=Trend]{
    border: 1px dotted gray;
}

time {
    color: gray;
}

figcaption {
    font-size: 10px;
}

table {
    margin-bottom: 50px;
}

#intake th{
    background-color: lightgreen;
    padding: 10px;
}

#intake th, #intake td {
    border: 1px solid #ddd;
    padding: 5px;
}

nav {
    position: sticky;
    top: 0;
    background: whitesmoke;
}

#graph {
    float: right;
}

#twoCol {
    background: whitesmoke;
    display: flex;
    margin-bottom: 20px;
}

.twoColP {
    background: lightgray;
    padding: 20px;
    margin: 20px;
}

#thrCol {
    background: whitesmoke;
    display: flex;
    margin-bottom: 20px;
}

#thrColL, #thrColM, #thrColR {
    background: lightgray;
    padding: 20px;
    margin: 20px;
}

#thrColL {
    flex: 2;
}

#thrColM {
    flex: 5;
}

#thrColR {
    flex: 2;
}

#multiForm {
    display: flex;
    margin: 20px;
}

.multiInput {
    margin: 10px;
}

@media (max-width: 400px) {
    body {
      background-color: red;
    }
  }